<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>GALLOC</display-name>


 
  <servlet>
  	<servlet-name>GetRecordsByIDServlet</servlet-name>
  	<display-name>GetRecordsByIDServlet</display-name>
  	<description></description>
  	<servlet-class>edu.buffalo.geoai.GetRecordsByIDServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>GetRecordsByIDServlet</servlet-name>
  	<url-pattern>/GetRecordsByIDServlet</url-pattern>
  </servlet-mapping>
 
  
</web-app>
